/* CSS Document */

/* Google Fonts
 *font-family: 'Source Sans Pro', sans-serif;
 *font-family: 'Rokkitt', serif;
 *font-family: 'Josefin Slab', serif;
 *font-family: 'Karla', sans-serif;
*/

h1,
h2,
h3,
h4 {
}

.superhero {
	font-family: 'Bangers', cursive;
	text-shadow: 1px 1px 1px rgba(150, 150, 150, 0.5);
	color:#D41616;
}

body {
	background-color:#fff;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color:#666666;
}

.container {
	width:810px;
	min-width: 810px;
}

.block {
		background-color:#f7f7f7;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 223, 226);
    border-radius: 0px 0px 3px 3px;
    padding: 12px;
}
