# Environment
dev.hostname=myserver
dev.username=myusername
dev.password=sweetpassword
dev.documentroot=testfunrunfbapp


production.hostname=myserver
production.username=myusername
production.password=sweetpassword
production.documentroot=testfunrunfbapp
