; Sample Configuration File
; Comments start with ';', as in php.ini

[google_credentials]
google_username = "test@gmail.com"
google_password = "i am a super secure password"
from_email = "from_email@gmail.com"
coca_support_email = "support@gmail.com"


[production]
production[hostname] = "hostname"
production[username] = "username"
production[password] = "secure password"
