# CONFIGURATION FILE FOR RUNNING BACKUP AND RESTORE SCRIPTS
##########################
#       BASIC CONFIG     #
##########################
environment_name="test"

##########################
#      SSH CONFIG     #
##########################
ssh_host="ssh.host"

##########################
#       FTP CONFIG       #
##########################
ftp_host="ftphost"
ftp_user="username"
ftp_password="secure password"
ftp_base_directory="funrunfbapp"
ftp_base_path="funrunfbapp"
