<section>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h2>Aid Request Application</h2>
			<p>Everyday the Children of Central Asia Foundation works to.....</p>
			  <div class="well well-sm">
			    <strong>Note: </strong>You can save this form by clicking the "Save" button at the bottom of the page.
			  </div>
		</div>
	</div>
	<div class="clearfix" style="height:32px;"></div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-warning">
				<div class="panel-heading"><strong>Please complete the following</strong></div>
				<div class="panel-body" >
			        <formly-form model="model" form="aidForm" id="aidForm" ng-submit="submit()" fields="formFields" novalidate>
			        	<p>&nbsp;</p>
			        	<p>&nbsp;</p>			        	
			        	<hr/>
			        	<div class="centered">
					   		<button class="btn btn-primary btn-lg" ng-click="save()">Save</button>
					    	<button class="btn btn-warning btn-lg" ng-click="clear()">Clear</button>
					  		<button type="submit" class="btn btn-primary btn-lg" ng-click="submit()">Submit</button>
					  	</div>
			        </formly-form>
				</div>
			</div>
		</div>
	</div>
</section>