<section>
	<h1>Thank you!</h1>
	<p>
	    The Children of Central Asia foundation would like to formally thank you for 
	    submitting your application. Please expect several weeks for your application to be 
	    processed. If your project is selected, COCA will reach out.
	</p>
	<p>
	    Thanks again,
	</p>
	<p>
	    John Griffin, Executive Director
	</p>
	<div class="centered">
		<button class="btn btn-warning btn-lg" ng-click="newApplication()">Submit Another Application</button>
	</div>
	<div class="clearfix" style="height:36px;"></div>
</section>